.Footer{
    height: 15vh;
    background-color: white;
    width: 100%;
    padding: 30px 0;
    display: -webkit-inline-box;
    /* border-top-style: solid;
    border-top-width: thin;
    border-color: rgba(204, 204, 204, 0.678); */
}

@media (max-width:768px){
    height: 2vh;
}


.FooterGroup{
    display: inline;
    max-width: 100%;
    margin-left: 250px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    align-items: center;
    justify-items: right;
}

@media(max-width:768px){
    .FooterGroup{
        margin-left: 0;
    }
}

.FooterGroup a{
    font-family:  'Yantramanav',  sans-serif;
    font-weight:100;
    font-size: 16px;
}

a.footer-link:hover{
    color: dodgerblue;

}