@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500|Rubik:500|Yantramanav|PT+Sans');

body {
  font-family: 'Libre Franklin', 'Rubik', 'Yantramanav', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.3;
  background-color: white;
}

a {
  color: grey;
  font-weight: 600;
  text-decoration: none;
}

a:hover{
  color: dodgerblue;
}

@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px)
  }
  100% {
      opacity: 1;
      transform: translateY(0px)
  }
}

@keyframes PointerAnimation{
  0%{

  }
  100%{

  }
}

.Hero{
  padding-top: 75px;
}

.HeroText{
  margin-left: 50px;
  line-height:1.5;
}
.HeroWords{
  width: 700px;
}

@media screen and (max-width:768px){
  .Hero{
    padding-top:30px;
  }
  .HeroText {
    margin-left: 25px;
  }
  .HeroWords{
    width: 100%;
  }
}

@media screen and (min-width:1400px){
  .HeroText{
    margin-left:150px;
  }
}

.HeroText div iframe{
  float: right;
  /* animation: HeroAnimation 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1); */
  /* opacity: 0; */
  margin-right: 150px;
}
@media (max-width:768px){
  .HeroText div iframe{
    display: none;
  }
}
.HeroText h1{
  font-family: 'Rubik', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  /* animation: HeroAnimation 3s 0.5s forwards cubic-bezier(.57,.21,.69,1.25); */
  /* opacity: 0; */
  word-wrap: break-word;
}
.HeroText p{
  font-size:15px;
  font-weight: 300;
  /* animation: HeroAnimation 3s 0.5s forwards cubic-bezier(.57,.21,.69,1.25); */
  word-wrap: break-word;
}
.HeroText p{
  display: inline;
}
.HeroText p a{
  color: dodgerblue;
}
.HeroText span#pointer{
  /* animation: HeroAnimation 3s 0.5s forwards cubic-bezier(.57,.21,.69,1.25); */
  padding-right: 10px;
  display: inline;
}

@media (max-width:768px){
  .HeroText h1{
    font-size: 25px;
    white-space: pre-wrap;
  }

}

@media screen and (min-width: 1400px){
  .HeroWords{
  display: inline-block;
}
.HeroAnimate{
  display: inline-block;
  padding-bottom: 100px;
  padding-left: 100px;
}
}

.case-study{
  display: grid;
  grid-template-columns: repeat(3);
  grid-auto-rows: 350px;
  grid-gap:0px;
  margin: 0 auto;
  padding-bottom: 200px;
  width: 70%
}

.case-study a{
  display: inherit;
}

.case-study-article{
  padding:20px;
  border-radius: 5px;
  color:#fff;
  display:flex;
  margin: 10px;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0);

}

.case-study-article p{
  display: none
}

.case-study-article:hover{
  box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
  transform: translateY(-10px);
}

/* Jamroom */
.case-study-article#jamroom{
  background-image: url(../assets/jamroom/jamroom-cover1.png);
  background-size: cover;
}
.case-study-article#jamroom:hover{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/jamroom/jamroom-cover1.png);
  background-size: cover;
}

/* Pilot Internship */
.case-study-article#pilotinternship{
  background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
  /* background-image: url(../assets/jamroom/jamroom-cover1.png);
  background-size: cover; */
}
.case-study-article#pilotinternship:hover{
  background: linear-gradient(135deg, #17ead9 0%,#6078ea 50%);
  background-size: cover;
}

/* CampusBash */
.case-study-article#campusbash{
  background-image: url(../assets/campusbash/campusbash-cover.png);
  background-size: cover;
}
.case-study-article#campusbash:hover{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/campusbash/campusbash-cover.png);
  background-size: cover;
}

/* Other Works  */
.case-study-article#otherworks{
  background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
  /* background-image: url(../assets/jamroom/jamroom-cover1.png);
  background-size: cover; */
}
.case-study-article#otherworks:hover{
  background: linear-gradient(135deg, #17ead9 0%,#6078ea 50%);
  background-size: cover;
}


@media (max-width:768px){
  .case-study{
    padding-top: 30px;
    grid-auto-rows: 200px;
  }
  .case-study-article h2{
    font-weight: 500;
    font-size: 25px;
  }
}

