@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100|Rubik:300,400|Yantramanav|PT+Sans');

body {
  font-family: 'Libre Franklin', 'Rubik', 'Yantramanav', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.3;
  background-color: white;
}

a {
  color: grey;
  font-weight: 600;
  text-decoration: none;
}


.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
}

@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px)
  }
  100% {
      opacity: 1;
      transform: translateY(0px)
  }
}

.Hero{
  padding-top: 130px;
  height: 450px;
  background: white;
  /* background: linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
  border-radius: 0% 0% 10% 10%; */
  
  /* animation: morph 10s ease-in-out infinite both alternate; */
}

.HeroText{
  color: black;
  margin-left: 250px;
  line-height:1.5;
}

.HeroWords{
  display: inline-block;
  width: 550px;
  vertical-align: top;
  padding-top: 55px;
  /* background: linear-gradient(135deg, #17ead9 0%,#6078ea 100%); */
}
.HeroAnimate{
  display: inline-block;
}

@media (max-width: 768px){
  .Hero{
    padding-top: 200px;
    height: 200px;
    text-align: center;
  }
  .HeroText {
    margin-left: 0px;
  }
  .HeroWords{
    width: 300px;
    padding-top: 0px;
  }
}

.HeroText div iframe{
  float: right;
  /* animation: HeroAnimation 3s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1); */
  /* opacity: 0; */
  margin-right: 150px;
}
/*Mobile phone */
@media (max-width: 768px){
  .HeroText h1#hover-text{
    display: none;
  }
  
  .HeroText h1#hover-text-1{
    padding-top: 10px;
    opacity: 1;
  }
  .HeroAnimate{
    display: none;
  }
}

/*Regular Laptops */
@media (max-width: 1024px){
  .HeroAnimate{
    display: none;
  }
}


.HeroText h1{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: dodgerblue;
  margin-top: 0;
  margin-bottom: 0;
  /* animation: HeroAnimation 3s 0.5s forwards cubic-bezier(.57,.21,.69,1.25);  */
}
.HeroText h1#hellothere, h1#hover-text, h1#hover-text-1{
  font-family: 'Robot Mono',monospace;
  color: black;
  font-weight: 100;
  font-size: .875rem;
  margin-top: 0;
  margin-bottom: 15px;
  /* animation: HeroAnimation 3s 0.5s forwards cubic-bezier(.57,.21,.69,1.25);  */
}

#hover-text.cool-link:hover + #hover-text-1 {
	opacity: 1;
}

#hover-text-1{
  opacity: 0;
}

#tolu-pic{
  height: 300px;
  width: 300px;
  background: url(../assets/toluavatar.svg);
  background-size: cover;
}


.HeroWords span#waving-hand{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: text-bottom;
  margin-left: 5px;
padding-top: 10px;
transform: rotate(40deg);
 animation: wink 0.7s alternate infinite; /* IE 10+, Fx 29+ */
transform-origin: 50% 100%;
animation-timing-function: ease;
}
   
  /* Standard syntax */ 
  @keyframes wink {
  0% {
  transform: rotate(-40deg);
  }

  100% {
  transform: rotate(40deg);}
  }

/* .HeroWords span.beating-heart{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: text-bottom;
  animation: 1s infinite beatHeart;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
} */
.HeroText p{
  /* animation: HeroAnimation 3s 0.5s forwards cubic-bezier(.57,.21,.69,1.25); */
  display: inline;
  word-wrap: break-word;
}
.HeroText p a{
  color: dodgerblue;
}

@media (max-width:768px){
  .HeroText h1{
    font-size: 18px;
    white-space: pre-wrap;
  }

}
.case-study{
  display: grid;
  grid-template-columns: repeat(3);
  grid-auto-rows: 400px;
  grid-gap:0px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 80%
}

.case-study a{
  display: inherit;
}

.case-study-article{
  padding:20px;
  border-radius: 5px;
  color:#fff;
  display:flex;
  margin: 10px;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0);

}

.case-study-article p{
  display: none
}

.case-study-article:hover{
  box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
  transform: translateY(-10px);
}

/* Jamroom */
.case-study-article#jamroom{
  background-image: url(../assets/jamroom/jamroom-cover1.png);
  background-size: cover;
}
/* .case-study-article#jamroom:hover{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/jamroom/jamroom-cover1.png);
  background-size: cover;
} */

/* Pilot Internship */
.case-study-article#pilotinternship{
  background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
  /* background-image: url(../assets/jamroom/jamroom-cover1.png);
  background-size: cover; */
}
.case-study-article#pilotinternship:hover{
  background: linear-gradient(135deg, #17ead9 0%,#6078ea 50%);
  background-size: cover;
}

/* CampusBash */
.case-study-article#campusbash{
  background-image: url(../assets/campusbash/campusbash-cover.png);
  background-size: cover;
}
/* .case-study-article#campusbash:hover{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/campusbash/campusbash-cover.png);
  background-size: cover;
} */

/* Other Works  */
.case-study-article#otherworks{
  background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
  /* background-image: url(../assets/jamroom/jamroom-cover1.png);
  background-size: cover; */
}
.case-study-article#otherworks:hover{
  background: linear-gradient(135deg, #17ead9 0%,#6078ea 50%);
  background-size: cover;
}


@media (max-width: 768px){
  .case-study{
    padding-top: 30px;
    padding-bottom: 80px;
    grid-auto-rows: 200px;
  }
  .case-study-article h2{
    font-weight: 500;
    font-size: 25px;
  }
}

